body {
    margin: 10px;
    border: 2px solid black;
}

#app {
    border: 1px solid black;
    padding: 10px;
}

table {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: green;
    color: yellow;
}

.band {
    display: flex;
    justify-content: space-around;
    background-color: green;
    color: white;
    padding: 10px;
}

.band a {
    color: white;
    text-decoration: none;
}

.box {
    width: 100px;
    height: 50px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    white-space: nowrap;
}

#app img {
    width: 100%;
    display: block;
}