 .container {
    height: 200px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

table {
    width: 75%;
    border-collapse: collapse;
    border: 5px solid #464450;
}

th,
td {
    border: 2px solid #464450;
}

th,
td {
    padding: 8px;
    text-align: left;
}

.thead2 {
    color: #BBE3D4;
    background-color: #222;
    border-color: #222;
}

tr:nth-child(even) {
    background-color: #313040;
    color: #dde0d4;
}

tr:nth-child(odd) {
    background-color: #232234;
    color: #dde0d4;
}
