<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture (TVA)</title>
    <link rel="stylesheet" href="css/styles_facture.css">
    <script src="../exo_employes/js/vue.global.js"></script>
    <script src="js/main_factures.js" type="module"></script>
</head>

<body>
    <div id="app">
        <button @click="main">Retour à la page principale</button><br>
        <button @click="facture">Créer une Facture</button>
        <button @click="factureTVA">Créer une Facture (TVA)</button><br>
        <button @click="liste1">Liste des Factures</button><br>
        <button @click="devis">Créer une Devis</button>
        <button @click="devisTVA">Créer une Devis (TVA)</button><br>
        <button @click="liste2">Liste des Devises</button>
    </div>
    <br>
    <br>
    <div class="antet">
        <div class="item-a">EXÉCUTEUR</div>
        <div class="item-b">FACTURE</div>
        <div class="item-c">NOMBRE</div>
        <div class="item-d">DATE</div>
        <div class="item-e">CLIENT</div>
    </div>
    <p>(Comprend les matériaux et la Main d'euvre)</p>
    <table>
        <thead>
            <tr>
                <th>Deésignation</th>
                <th>Unité</th>
                <th>Quantité</th>
                <th>Prix unitaire</th>
                <th>TVA</th>
                <th>TTC</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ prod.description }}</td>
                <td>{{ prod.unite }}</td>
                <td>{{ prod.quantite }}</td>
                <td>{{ prod.prix }}</td>
                <td>{{ prod.tva }}</td>
                <td>{{ prod.ttc }}</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td>Total HT: {{ total.ht }}</td>
                <td>Total TVA: {{ total.tva }}</td>
                <td>Total TTC: {{ total.ttc }}</td>
            </tr>
        </tbody>
    </table>
    <form @submit="submitForm">
        <input type="text" v-model="produit.description" placeholder="Description">
        <input type="text" v-model="produit.unite" placeholder="Unité">
        <input type="number" v-model="produit.quantite" placeholder="Quantité">
        <button type="submit">Ajouter</button>
    </form>
    <p>Nous nous réservons la propriété des matériels et fournitures jusqu’au paiement complet du prix par l’acheteur.
    </p>
    <p>Notre réserve de propriété porte aussi bien sur les marchandises que sur leur prix si elles ont déjà été
        revendues (Loi
        N° 80.335 du 12 Mai 1980)</p>
</body>

</html>