<!DOCTYPE html>
<html lang="fr-fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eRepublik Top Air Clasament</title>
    <link rel="stylesheet" href="./assets/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/main.js" type="module"></script>
</head>

<body>
    <header>
        <img src="./data/eRepublik antet.png" alt="eRepublik antet">
    </header>
    <main id="app">
        <h1>eRepublik Top Air Clasament</h1>

        <!-- Adaugă meniul derulant -->
        <select v-model="selectedCountry" @change="filterByCountry">
            <option value="all">Toate țările</option>
            <option v-for="country in uniqueCountries" :value="country">{{ country }}</option>
        </select>

        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Citizen's ID</th>
                    <th>Citizen's name</th>
                    <th>Country</th>
                    <th>Top Aviator medals</th>
                    <th>Days</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="citizen of rows">
                    <td>{{ citizen.rank }}</td>
                    <td>{{ citizen.id }}</td>
                    <td><a :href="generateProfileLink(citizen.id)" target="_blank">{{ citizen.nume }}</a></td>
                    <td>{{ citizen.tara }}</td>
                    <td>{{ citizen.medalii }}</td>
                    <td>{{ citizen.zile }}</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>

</html>