<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/vue.global.js" ></script>
    <script src="js/main.js" type="module"></script>
</head>
<body>
    <div id="app">
        <h1>Employees</h1>
        <h2>This is the current list of employees</h2>
        <table v-if="employees.length > 0">
            <thead>
                <tr>
                    <th>EID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Monthly salary <button @click="toggleSort">{{ sortBy === 'asc' ? '▲' : '▼' }}</button></th>
                    <th>Year of Birth</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="employee of employees">
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.employee_name }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ monthlySalary(employee) }} €</td>
                    <td>{{ yearOfBirth(employee) }}</td>
                    <td>
                        <button @click="duplicateEmployee(employee)" id="duplicate">📑Duplicate</button>
                        <button @click="deleteEmployee(employee)"id="delete">🗑  Delete</button>
                      </td>
                </tr>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="4">{{ totalMonthlySalary.toFixed(2) }} €</td>
                    </tr>
                </tfoot>
            </tbody>
        </table>
        <p v-else>Absence d'informations dans le tableau.</p>
    </div>

    
</body>
</html>