.container 
{
    border: 1px;
    border-style: solid;
    border-radius: auto;
    border-color: blue;
    align-items: center; 
}

label {
    width: auto;
    display: inline-block;
    margin-top: 10px;
}

input[type="text"],
select {
    width: auto;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid blue;
    border-radius: 3px;
}

input[type="number"],
select {
    width: auto;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid blue;
    border-radius: 3px;
}

button 
{
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: blue;
    border: 1px, solid;
    border-radius: 3px;
    border-color: blue;
    cursor: pointer;
}
