body
{
    background-color: green;
}

header 
{
    background-color: yellow;
    color: green;
    text-align: center;
    padding: 20px 0;
}

.header-egyptien 
{
    width: 205px; 
    height: 100px; 
}

container 
{
    padding: 20px;
    display: flex;
}

nav ul 
{
    list-style: none;  
    padding: 0;  
    display: flex;  
    justify-content: center;   
}
  
 nav li 
 {  
    margin: 0 1px; 
 }
  
nav a 
{
    display: inline-block;
    padding: 5px 10px; 
    text-decoration: none;
    background-color: #333; 
    color: #fff; 
    border: 2px solid #555; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}
  
nav a:hover 
{
    background-color: #555; 
    color: #fff; 
}

.horizontal-list 
{
    list-style-type: none; 
    padding: 0;   
    display: grid;   
    justify-content: center; 
}
  
  .horizontal-list li 
{
    margin-right: auto; 
}

.align-right 
{
    text-align: right;
}

ul.sub-menu 
{
    display: none;
    position: relative;
    background-color: black; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    z-index: 1;
}

li:hover ul.sub-menu 
{
    display: block;
}

ul.sub-menu li 
{
    padding: 10px;
    white-space: nowrap;
}

ul.sub-menu li a 
{
    text-decoration: none;
    color: white; 
}

ul.sub-menu li a:hover 
{
    color: #007bff; 
}

ul.horizontal-list li:hover ul.sub-menu {
    display: block;
}

.container2
{
    display: flex;  
    align-items: center;   
}
  
.content 
{  
    display: flex;  
    align-items: center; 
}
  
.text 
{  
    flex-grow: 1; 
}   

.content img 
{  
    margin-right: 20px;   
    max-width: 250px;   
    height: auto;
}

.title 
{
    background-color: wheat;
    padding: 10px;
    display: inline-block; 
}