body
{
    background-color: cyan;
}

p
{
    position: static;
    border: 2px solid #555;
    padding: 20px;
    margin: 30px;
}

h1
{
    text-align: center;
}

.container 
{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.title 
{
    background-color: #f0f0f0;
    padding: 20px;
    display: inline-block; 
  
}

.horizontal-list 
{
    list-style-type: none; 
    padding: 0;   
    display: flex;   
    justify-content: space-between; 
}
  
  .horizontal-list li 
{
    margin-right: 10px; 
}

.align-right 
{
    text-align: right;
}

.header-azteque
{
    width: 1000px;
    height: 1000px;
    background-image: "azteque-copy.PNG";
    background-repeat: repeat;
}