body
{
    background-color: cyan;
}

nav ul 
{
    list-style: none;  
    padding: 0;  
    display: flex;  
    justify-content: center;   
}
  
 nav li 
 {  
    margin: 0 1px; 
 }
  
nav a 
{
    display: inline-block;
    padding: 5px 10px; 
    text-decoration: none;
    background-color: #333; 
    color: #fff; 
    border: 2px solid #555; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}
  
nav a:hover 
{
    background-color: #555; 
    color: #fff; 
}

p
{
    position: static;
    border: 2px solid #555;
    padding: 20px;
    margin: 30px;
}

h1
{
    text-align: center;
}

.container 
{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.title 
{
    background-color: #f0f0f0;
    padding: 20px;
    display: inline-block; 
  
}

.horizontal-list 
{
    list-style-type: none; 
    padding: 0;   
    display: flex;   
    justify-content: space-between; 
}
  
  .horizontal-list li 
{
    margin-right: 10px; 
}

.align-right 
{
    text-align: right;
}

.header-azteque
{
    width: 1000px;
    height: 1000px;
    background-image: "images/azteque.PNG";
    background-repeat: repeat;
}

ul.sub-menu 
{
    display: none;
    position: relative;
    background-color: blue; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    z-index: 1;
}

li:hover ul.sub-menu 
{
    display: block;
}

ul.sub-menu li 
{
    padding: 10px;
    white-space: nowrap;
}

ul.sub-menu li a 
{
    text-decoration: none;
    color: white; 
}

ul.sub-menu li a:hover 
{
    color: #007bff; 
}

ul.horizontal-list li:hover ul.sub-menu {
    display: block;
}