nav ul 
{
    list-style: none;  
    padding: 0;  
    display: flex;  
    justify-content: center;   
}
  
 nav li 
 {  
    margin: 0 1px; 
 }
  
nav a 
{
    display: inline-block;
    padding: 5px 10px; 
    text-decoration: none;
    background-color: #333; 
    color: #fff; 
    border: 2px solid #555; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}
  
nav a:hover 
{
    background-color: #555; 
    color: #fff; 
}

header 
{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.header-azteque 
{
    background-repeat: repeat; 
    width: 205px; 
    height: 100px; 
}
  
body
{
    background-color: grey;
}

h1
{
    text-align: center;
}

.container 
{
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.title 
{
    background-color: #f0f0f0;
    padding: 10px;
    display: inline-block; 
  
}

.page-principale
{
    list-style-type: none; 
    padding: 0;   
    display: flex;   
    justify-content: center; 
}

.horizontal-list 
{
    list-style-type: none; 
    padding: 0;   
    display: flex;   
    justify-content: space-between; 
}
  
  .horizontal-list li 
{
    margin-right: 10px; 
}

.align-right 
{
    text-align: right;
}

ul.sub-menu 
{
    display: none;
    position: relative;
    background-color: black; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    z-index: 1;
}

li:hover ul.sub-menu 
{
    display: block;
}

ul.sub-menu li 
{
    padding: 10px;
    white-space: nowrap;
}

ul.sub-menu li a 
{
    text-decoration: none;
    color: white; 
}

ul.sub-menu li a:hover 
{
    color: #007bff; 
}

ul.horizontal-list li:hover ul.sub-menu {
    display: block;
}

.gallery 
{
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr)); 
    grid-gap: 70px;
    justify-content: center;
    align-items: center;
}
  
.gallery img 
{  
    max-width: 250px;  
    height: 250px;  
    transition: transform 0.2s;  
    display: block;
    margin: 0 auto;
}
  
.gallery img:hover 
{
    transform: scale(1.1);
}

.container2
{
    display: flex;  
    align-items: center;   
}
  
.content 
{  
    display: flex;  
    align-items: center; 
}
  
.text 
{  
    flex-grow: 1; 
}   

.content img 
{  
    margin-right: 20px;   
    max-width: 250px;   
    height: auto;
}